html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.chakra-ui-light {
	background-color:#ffc92824;
}
.css-ade5x {
	color: white;
    background-color: #6a46c0!important;
}

.css-18xojmf {
	color:purple!important;
}

.chakra-button svg {
	background-color: white!important;
}

